.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 0;

    &:nth-child(even) {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(179, 62, 176, 1) 0%,
        rgba(152, 25, 249, 1) 100%
      );
      border-radius: 2px;
    }

    &:nth-child(odd) {
      background: rgb(2, 0, 36);
    }
  }
}
